.bg-image-1 {
  background-image: url("../../media/images/image-home-section-1.png");
  background-size: cover;
}

.bg-image-6 {
  background-image: url("../../media/images/image-home-section-6.png");
  background-size: cover;
}

.bg-image-7 {
  background-image: url("../../media/images/image-home-section-7.png");
  background-size: cover;
}


.basic-weather-info,
.weather-insight {
  background-color: rgba(30, 45, 54, 0.7);
}

.basic-weather-info {
  min-width: 250px;
}



.button-basic-weather {
  transition: all 0.2s ease;
  &:hover {
    -webkit-filter: brightness(70%);
  }
}

.card-weather {
  background-color: rgba(61, 90, 108, 0.8);
  font-size: 8pt;
}

.card-weather-active {
  background-color: rgba(61, 90, 108, 1);
  border: 0.2em solid rgba(67, 58, 63, 0.6);
  font-size: 12pt;
}

.location-box {
  border: 0.2em solid #433a3f;
}

.resources-and-learning,
.previous-history {
  min-height: 300px;
  text-decoration: none;
  .link-section-text {
    transition: all 0.2s ease;
    background-color: rgba(141, 233, 105, 0.9);
    font-size: 20pt;
  }

  &:hover {
    cursor: pointer;
    filter: brightness(90%);
    .link-section-text {
      font-size: 26pt;
    }
  }
}
