/* Styling for navigation buttons */
.button-nav {
    border-style: solid; /* Set border style */
    border-width: 0.2em; /* Set border width */
    border-radius: 50px; /* Apply border radius for rounded corners */
    transition: all 0.2s ease; /* Add transition effect for smooth hover */
  }
  
  /* Styling for FAQ button */
  .button-faq {
    border-color: #8de969; /* Set border color */
    color: #8de969; /* Set text color */
    &:hover {
      border-color: #406831; /* Change border color on hover */
      color: #406831; /* Change text color on hover */
    }
  }
  
  /* Styling for Contact Us button */
  .button-contact {
    border-color: #433a3f; /* Set border color */
    background-color: #433a3f; /* Set background color */
    color: #FFFFFF; /* Set text color */
    &:hover {
      background-color: #000000; /* Change background color on hover */
      border-color: #000000; /* Change border color on hover */
    }
  }
  